@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/*Colors*/
/*Fonts*/
* {
  border: 0%;
  margin: 0%;
  padding: 0%; }

.bg {
  background-color: #0d192b; }
  .bg .sec {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }

.card {
  width: 380px;
  height: 650px;
  border-radius: .85rem;
  background-color: #14253d; }
  .card .card__box-image {
    margin: 20px 20px 100px 20px; }
    .card .card__box-image .box-image__img {
      width: 100%; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
