@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/*Colors*/
/*Fonts*/
* {
  border: 0%;
  margin: 0%;
  padding: 0%; }

.bg {
  background-color: #0d192b; }
  .bg .sec {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }

.card {
  background-color: #14253d;
  max-width: 23.5rem;
  height: 38rem;
  border-radius: .8rem;
  box-shadow: #09172a 0px 20px 0px 5px; }
  .card .card__box-image {
    border-radius: .4rem;
    overflow: hidden;
    position: relative;
    margin: 1.25rem 1.25rem 1.2rem 1.25rem; }
    .card .card__box-image img {
      width: 100%;
      display: block; }
    .card .card__box-image .box-image__icon-eye {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 255, 247, 0.4);
      display: none;
      cursor: pointer; }
      .card .card__box-image .box-image__icon-eye .icon-eye__img {
        position: absolute;
        width: 2.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .card .card__box-image:hover .box-image__icon-eye {
      display: block; }
  .card .card__box-text {
    margin: 0 1.5rem; }
    .card .card__box-text .box-text__tag {
      font-family: "Outfit", sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      color: white;
      margin-bottom: 1.2rem; }
      .card .card__box-text .box-text__tag:hover, .card .card__box-text .box-text__tag:focus {
        color: #00fff7;
        cursor: pointer; }
    .card .card__box-text .box-text__paragraph {
      font-family: "Outfit", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      color: #8bacda;
      margin-bottom: 1.5rem; }
    .card .card__box-text .box-text__info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 1.5rem; }
      .card .card__box-text .box-text__info .info__price {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: .4rem; }
        .card .card__box-text .box-text__info .info__price .price__paragraph {
          font-family: "Outfit", sans-serif;
          font-weight: 400;
          font-size: 1rem;
          color: #00fff7; }
      .card .card__box-text .box-text__info .info__time {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: .4rem; }
        .card .card__box-text .box-text__info .info__time .time__paragraph {
          font-family: "Outfit", sans-serif;
          font-size: 1rem;
          font-weight: 400;
          color: #8bacda; }
    .card .card__box-text hr {
      border: none;
      background-color: #2f415b;
      height: 1px;
      margin-bottom: 1rem; }
    .card .card__box-text .box-text__creator {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem; }
      .card .card__box-text .box-text__creator .creator__photo {
        width: 2rem;
        border: 1px solid white;
        border-radius: 1.5rem;
        transition: all .7s 0s ease; }
        .card .card__box-text .box-text__creator .creator__photo:hover {
          transform: scale(1.5, 1.5); }
      .card .card__box-text .box-text__creator .creator__text {
        font-family: "Outfit", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #8bacda;
        cursor: pointer; }
        .card .card__box-text .box-text__creator .creator__text .creator__name {
          color: white;
          font-weight: 300; }
          .card .card__box-text .box-text__creator .creator__text .creator__name:hover, .card .card__box-text .box-text__creator .creator__text .creator__name:focus {
            color: #00fff7; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

@media screen and (min-width: 320px) and (max-width: 420px) {
  .card {
    width: 19rem;
    height: 33.25rem; } }
