@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import 'var/variables';

*{
    border: 0%;
    margin: 0%;
    padding: 0%;
}

.bg{
    background-color: $very-dark-blue-main;
    .sec{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.card{
    background-color: $very-dark-blue-card;
    max-width: 23.5rem;
    height: 38rem;
    border-radius: .8rem;
    box-shadow: hsl(215, 65%, 10%) 0px 20px 0px 5px;
    .card__box-image{
        border-radius: .4rem;
        overflow: hidden;
        position: relative;
        margin: 1.25rem 1.25rem 1.2rem 1.25rem;
        img{
            width: 100%;
            display: block;
        }
        .box-image__icon-eye{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $cyan-opacity;
            display: none;
            cursor: pointer;
            .icon-eye__img{
                position: absolute;
                width: 2.5rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &:hover .box-image__icon-eye{
            display: block;
        }
    }

    .card__box-text{
        margin: 0 1.5rem;
        .box-text__tag{
            font-family: $font;
            font-size: 1.25rem;
            font-weight: 600;
            color: $white;
            margin-bottom: 1.2rem;
            &:hover, &:focus{
                color: $cyan;
                cursor: pointer;
            }
        }
        .box-text__paragraph{
            font-family: $font;
            font-size: 1.125rem;
            font-weight: 400;
            color: $soft-blue;
            margin-bottom: 1.5rem;
        }

        .box-text__info{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            .info__price{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: .4rem;
                .price__paragraph{
                    font-family: $font;
                    font-weight: 400;
                    font-size: 1rem;
                    color: $cyan;
                }
            }
            .info__time{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: .4rem;
                .time__paragraph{
                    font-family: $font;
                    font-size: 1rem;
                    font-weight: 400;
                    color: $soft-blue;
                }
            }
        }
        hr{
            border: none;
            background-color: $very-dark-blue-line;
            height: 1px;
            margin-bottom: 1rem;
        }

        .box-text__creator{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            .creator__photo{
                width: 2rem;
                border: 1px solid white;
                border-radius: 1.5rem;
                transition: all .7s 0s ease;
                &:hover{
                    transform: scale(1.5,1.5);
                }
            }
            .creator__text{
                font-family: $font;
                font-size: 1rem;
                font-weight: 400;
                color: $soft-blue;
                cursor: pointer;
                .creator__name{
                    color: $white;
                    font-weight: 300;
                    &:hover, &:focus{
                        color: $cyan;
                    }
                }
            }

        }
    }

}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

@media screen and (min-width:320px) and (max-width:420px) {
    .card{
        width: 19rem ;
        height: 33.25rem;
    }
}